<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
 {% include 'Common/head.html' %}
    <title>{% block title %}默认标题{% endblock %} - 世界门</title>

</head>

<body>
<div class="container">
    <div class="col-md-2 column">
    </div>
    <div class="col-md-10 column">
        {% include 'Common/nav.html' %}
    </div>


	<div class="row clearfix">

    {% include 'ss/common/left.html' %}
		<div class="col-md-10 column">
			{% block mainbody %}
                <p>original</p>
            {% endblock %}
		</div>
	</div>
</div>



</body>
</html>