{% extends "index-base.html" %}

{% block mainbody %}

<div class="container col-md-4 ">

    {% if password_is_wrong %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>错误!</h4>用户名或密码错误
        </div>
    {% endif %}
    <div class="well">
        <h1>世界门</h1>

        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            <table  class="well">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>

            </table>
            <p class="form-actions">
                <input type="submit" value="登录" class="btn btn-primary">
                <a href="/contactme/"><input type="button" value="忘记密码" class="btn btn-danger"></a>
                <a href="/ss/register"><input type="button" value="注册" class="btn btn-success"></a>
            </p>
        </form>

        {{ request.user }}<br>
        {{ request.user.username }}

    </div>

</div>
{% endblock %}