<div class="col-md-2 column">
    <ul class="nav nav-list">
        <li class="active">
            <a href="/ss/user">首页</a>
        </li>
        <li>
            <a href="/ss/node">节点列表</a>
        </li>
        <li>
            <a href="/ss/myinfo">个人信息</a>
        </li>
        <li>
            <a href="#">流量记录</a>
        </li>
        <li>
            <a href="#">修改资料</a>
        </li>
        <li>
            <a href="/ss/product">产品大全</a>
        </li>
        <li>
            <a href="/ss/prder">个人订单</a>
        </li>
    </ul>
</div>